body {
    background-color:#37434F;
    font-family: sans-serif;
    height: 1024px;
    width: 768px;
    border:0px solid #FFF;
    margin-top:0px;
    margin-bottom:0px;
    margin-left:250px;
    margin-right:auto;
    
}

.container {
    margin-left:auto;
    margin-right:auto;
    width:600px; 
    font-family: sans-serif;
    color: #FFF;
   
    padding:50px;
    margin:1px;
    margin-top:0px;
    margin-bottom:60px;
    
}

.letter-container h1 {
font-family: "eloquent-jf-pro",serif;
color:#37434F;
font-style: normal;
font-weight: 400;
    font-size:680px;
margin-top:-200px;
margin-bottom:770px;
padding-bottom:0px;
border:0px;
height:0px;
text-shadow:
		-.5px -.5px 0 #FFF,
		.5px -.5px 0 #FFF,
		-.5px .5px 0 #FFF,
		.5px .5px 0 #FFF;
position:relative;
    right: 80px;
}

.sample-set {
font-family: "eloquent-jf-pro",serif;
font-style: normal;
font-weight: 400;
letter-spacing:11px;
    font-size:30;
float: left;
position: relative;
    right:30;
    bottom: 1230;
margin-bottom: 10px;
}
.sample-set-yellow {
font-family: "eloquent-jf-pro",serif;
font-style: normal;
font-weight: 400;
letter-spacing:10px;
font-size:30;
color:#FFEC9C;
float: left;
position: relative;
    right:-300;
    bottom: 1290;


}
.info-section h2 {
font-family: "mr-eaves-xl-modern",sans-serif;
font-style: normal;
font-weight: 100;
letter-spacing: 4px;
font-size:21;
    float: left;
margin-top: 20px;
    position: relative;
    right:30px;
    bottom: 1290;
}

.info-section p {
font-family: "mr-eaves-xl-modern",sans-serif;
font-style: italic;
font-weight: 100;
    letter-spacing: 1.1px; 
    font-size: 14px;
    margin-right:350px;
    line-height: 2;
height:300px;
position: relative;
    right:30px;
    bottom: 1290;
 
}

.sources h3 {
font-family: "mr-eaves-xl-modern",sans-serif;
font-style: italic;
font-weight: 100;
font-size:10;
    letter-spacing:1.001;
margin-bottom:4px;

}

.sources p {
font-family: "mr-eaves-xl-modern", sans-serif;
font-style: italic;
font-weight: 100;
font-size: 11;
    letter-spacing:1.001;
float:left;
margin:0px;
line-height:15px;
height: 10px;
    position: relative;
    bottom: 1280px;
    right:30px;
}

.photo-title h3 {
font-family: "mr-eaves-xl-modern", sans-serif;
font-style: italic;
font-weight: 100;
font-size: 11;
height:0px;
margin-left:480px;
letter-spacing:1.001px;
color:#FFEC9C;
float: right;
margin-bottom:0px;
margin-top:11px;
    position: relative;
    bottom: 25px;
    left: 33px;
width: 200px;
line-height: 15px;
text-align: right;
    position: relative;
    bottom:1277;
    left:40;
    
}

.photo-title img {

float: right;
margin-bottom: 0px;
border-radius: 50%;
border: 1px solid #FFEC9C;
height:85px;
display:flex;
    position: relative;
    bottom: 1280px;
    left:30px;  
}


#button {
    background-color: #7F5757;
    height: 144px;
    width: 142px;
    border-radius:50%;
    float:right;
    position:relative;
    bottom:1650;
    right:62;
    opacity:.8;
    z-index:50
    
}

.analysis {
    position: absolute;
    z-index:50;
    top: -606px;
    left: -170.5px;
    opacity:;
    filter: alpha(opacity=50); 
}
